body {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url("../images/film-3057394_1920.jpg");
}

body{

background: linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ), url("../images/film-3057394_1920.jpg");

}



.input-field {
    background-color:black;
    border: 1px solid #696969
  }

  *, *:before, *:after {
      color: white
  }

